#chatRoomList{
    width: 80%;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body{
    background-color: whitesmoke;
}
.chatRoom{
    width: 20%;
    height: 60px;
    margin: 2.5%;
    background:rgba(82, 26, 77, 0.486) ;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    line-height: 60px;
    text-align: center;
    font-size: 1.4em;
}

.chatRoom:hover{
    background: linear-gradient(to right, rgba(82, 26, 77, 0.589) , rgba(118, 193, 223, 0.651));
    box-shadow: 4px 4px 16px gray;
}
@media screen and (max-width:767px){
    #chatRoomList{
        width: 80%;
        margin: 5% auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .chatRoom{
        width: 25% ;
        margin: 5% auto ;
    }
}

@media screen and (max-width:600px){
    #chatRoomList{
        width: 80%;
        margin: 5% auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .chatRoom{
        width: 30%;
        height: 60px;
        margin: 2.5% auto;
    }
}



@media screen and (max-width:400px){
    #chatRoomList{
        width: 90%;
        margin: 5% auto;
        display: block;
    }
    .chatRoom{
        width: 80%;
        height: 60px;
        margin: 5% auto;
    }
}