
#mainDiv2{
    display:grid;
    grid-template-areas: "lf fg";
    grid-template-columns: 0.5fr 0.5fr;
    
    }
   
#loginDiv{
    grid-area:lf;
    border-right: grey dotted thin;
    padding-right:15px;
    
}

#secondForm{
    grid-area: fg;
    text-align: center;
    padding-left: 5px;
}

#secondForm a{
width:80%;
margin:0px auto;
border-radius: 2px;
}
button{
text-align: center;

}

#loginForm{
    width:90%;
}

#facebook{
    display:grid;
   
   /* grid-template-areas: "i c";*/
    text-align: center;
}

#facebook img, #gmail img{
    position: relative ;
    width:100px;
    top: 25px;
      grid-area: i;
    
}


@media screen and (max-width:800px){
    
        #mainDiv2{
    
            width:75%;
            min-width: 290px;
            display:block;
        }
    
        #loginDiv{
            border: transparent;
            border-bottom: grey dotted thin;
            padding-bottom: 6px;
        }
    
    
        
      }