


.fa{
margin: 2px;
}

a{
    color:rgb(166, 231, 195) !important;
}
a:hover{
    color: white !important;
}
.dropdown-item:hover{
    color:rgb(9, 31, 31) !important;
}
.container{
    width:75%;
    min-width:290px;
    background-color:whitesmoke;
    display: grid;
    grid-template-areas: "ph " " ps" "e " "t";
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content max-content;
 
}
.container section{
    background-color: white;
    margin:5px;
    position :relative
    
}
#profileHeaderForm{
    display:none;
    width:120%;
    margin:0px auto;
    margin-left: 13%;
}
#nameHeading{
    margin:3px !important;
    font-size: 1.5em;
}

input{
    margin-bottom: 8px;
}
i section{
    font-size: 11pt;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    float:right;
}
.container section .fa-pencil-square-o, .container section  .fa-plus-square-o{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 2em;
    color: teal;
    font-size: 20pt;  
    display: none;  
}


#editProfile{
    grid-area: ep;
    margin:1px !important;
    margin-top: 5px !important;
    
}
#education{
    grid-area: e;
    min-height:50px;
    font-size: 1.5em;
}

#talents_skills{
    grid-area: t;
    min-height:50px;
}
#profileHeader{

    grid-area: ph;
    display:grid;
    background-color: white;
    margin:5px;
    grid-template-areas: "nh p" ;
    grid-template-columns: 2fr 1fr;
    /*grid-template-rows: max-content ;*/
   
}

#nameHeader{   
 grid-area: nh;
 margin:5px;
}
#picture{
    grid-area: p;
    margin:2px;
    width: 100%;
    display:block;
   
}
#picture img{
    width: 50% !important;
    margin: 20% auto;
    display:block;
   
}
/*#profile_blog{
   
    grid-area: pb;
    padding: 5px;
    margin:2px;
}*/
#profileSnapshot{
    text-align: justify;
    padding: 5px;
    font-size: 0.9em;
    grid-area: ps;
    background-color: white;
    margin:5px;
}

#cityState{
    font-size: 0.4em !important;
    color: grey;
}
    
#nameHeader{
    font-size: 2.5em !important;
    color:black !important;
}

#done{
    display:none;
}


#picture img{
    width:80%;
    padding-top: 12%;
}

#imageUpload
{
    display: none;
}
/*#editProfileDiv{
    display:none;
    background-color: rgba(245, 245, 245, 0.384);
}*/

#profile_blog{
display: flex;
flex-direction: row;
}
#profile_blog button{
    
    width:50%;
    border-radius: 0px;
    margin: 1px;
    background-color: rgba(11, 155, 107, 0.082) !important;
    box-shadow: none !important;
}


#editProfile{

    border-radius: 0px;
    margin: 1px;
    background-color: rgba(11, 155, 107, 0.082) !important;
    box-shadow: none !important;
}

#profile_blog button:hover, #editProfile:hover{
    background-color: rgba(11, 155, 107, 0.205) !important;
}

#proffHeading{
    font-size:0.4 em !important;
}

#save, #cancel {
    width: 40%;
    border-radius: 0px !important;
    box-shadow: none !important;
}
button:hover{
    background-color: rgba(11, 155, 107, 0.205) !important;
}

button{
    border-radius: 0px !important;
    box-shadow: none !important;
    background-color: rgba(11, 155, 107, 0.082) !important;
    margin:5px !important;
}

@media screen and (max-width:1000px){
    
        .container{
            display:block;
            padding:5px;
        }
        h3{
            font-size: 1.2em !important ;
        }

        img{
            margin-top: 30px;
        }
        #editProfile{
            width:75%;
            display: block;
            margin:1px auto !important;
        }
    }

@media screen and (max-width:760px){
    
        .container{
            display:block;
            padding:5px;
        }
        h3{
            font-size: 0.9em !important ;
        }

        img{
            margin-top: 30px;
        }
        #editProfile{
            width:75%;
            display: block;
            margin:1px auto !important;
        }
        .form-row{
            display:block !important;
        }
        #marks, #marks2{
            margin-top: 10px;
        }
    }
    
        
@media screen and (max-width:400px){
    
        .container{
            display:block;
            padding:5px;
        }
        h3{
            font-size: 0.7em !important;
        }

        img{
            margin-top: 40px;
        }

        #editProfile{
            width:75%;
            display: block;
            margin:1px auto !important;
        }
        .fa-pencil-square-o{
            font-size: 1em;
        }
        .form-row{
            display:block !important;
        }
        #marks, #marks2{
            margin-top: 10px;
        }
    }

.nav li{
    font-size: 0.5em;
}
 #schoolForm{
    display: none;
}

#isCurrentEducation{
    margin:10px !important;
    width:1px !important;
    height:1px !important;
    
}


textarea{
    background-color: white !important;
    resize: none;
    color:rgb(2, 22, 22);
}

label{
    font-size:10pt !important;
}
#collegeForm, #schoolForm{
    width:75%;
    margin:0px auto;
    min-width:290px; 
    display: none;
}

.buttonGroup{

    display: none;
    width:90%;
    margin:0px auto;
}

#school_collegeNav{
    display: none;
}

#snapshotDiv{
    display:flex;
    flex-direction: column;
}

#maxCGP{
    display:none;
}

#edu>div{

    color:black;
    font-size:0.7em;
    margin:2%;
    padding:2px;
    border-bottom: grey dotted thin;
}

nav{
    background-color: #4bae76f3;
    color: white !important; 
    padding-top: 0px !important;
    margin-top: 0px;
    font-size: 2.19em;
    text-decoration: none !important;
}

nav a{
    color: white !important; 
    text-decoration: none !important;
}
a:hover{
    color:#aae4c3f3 !important;
}
.subpage{
    padding-top: 0px;
}